#inputcontainer {
     position:absolute;
     left:10%;
     width:80%;
     background:blue;
     margin-top: 20px;
     height: 50px;
     text-align: center;
}
 .inputfield{
     width: 350px;
     margin: 0 auto;
     text-align: left;
     margin-top: 14px;
     font-size: 14px;
     font-weight: bolder;
}